*{
    margin: 0;
    padding: 0;
}
/* 
font-family: 'Numans', sans-serif;
font-family: 'Rochester', cursive;
*/
/* ------------------------NAV------------------------- */
.header-line{
    background: linear-gradient(0deg, #31AEF4 0%, rgba(120, 117, 158, 0.630208) 63.54%, rgba(255, 255, 255, 0) 100%), #3214ED;
    height: 20px;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: black;
}
nav a{
    font-family: 'Rochester', cursive;
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding-top: 10px;
}
/* ------------------------HEADER------------------------- */
.header-img{
    background: url("img/accueil.jpg") center, center;
    background-size: cover;
    height: 430px;
}
.header-img p{
    position: relative;
    top: 380px;
    right: 40px;
    float: right;
    font-family: 'Numans', sans-serif;
    font-size: 24px;
    color: white;
}
.title{
    background-color: black;
    height: 100px;
    padding: 0 calc(50% - 190px);
}
.title h1{
    color: #19A8F9;
    text-transform: uppercase;
    font-family: 'Numans', sans-serif;
    font-size: 72px;
    padding-top: 10px;
}
/* ------------------------MAIN------------------------- */
/* main desc */
main{
    background-color: #0C0C0C;
}
.text{
    color: #989898;
    font-family: 'Numans', sans-serif;
    font-size: 18px;
}
.main-description{
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    max-width: 720px;
    height: 470px;
}
.main-description .text{
    margin-top: 105px;
}
.select-top{
    position: relative;
    top: 56px;
    height: 90px;
    width: 90px;
    transform: rotate(90deg);
}
.select-bottom{
    position: relative;
    top: 290px;
    left: -50px;
    height: 90px;
    width: 90px;
    transform: rotate(-90deg);
}
.one{
    background-color: white;
    width: 10px;
    height: 80px;
}
.two{
    background-color: white;
    width: 90px;
    height: 10px;
}
/* main tech */
.main-technologies{
    background-color: white;
    height: 650px;
    width: auto;
}
.main-technologies h3{
    padding-top: 65px;
    margin-left: calc(50% - 170px);
    font-family: 'Numans', sans-serif;
    font-size: 36px;
}
.main-technologies p{
    font-family: 'Numans', sans-serif;
    font-size: 18px;
    margin-top: 65px;
    margin-left: 15%;
    margin-right: 15%;
}
.main-img{
    margin-top: 75px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main-img img{
    height: 150px;
    width: 150px;
}
/* main info */
.main-info{
    height: 505px;
    margin-left: calc(45% - 200px);
    margin-right: 15%;
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    max-width: 720px;
}
.main-info .text{
    margin-top: 105px;
}
.select-top-info{
    position: relative;
    top: 56px;
    height: 90px;
    width: 90px;
    transform: rotate(90deg);
}
.select-bottom-info{
    position: relative;
    top: 315px;
    left: -50px;
    height: 90px;
    width: 90px;
    transform: rotate(-90deg);
}
/* main stats */
.main-stats{
    background-color: black;
    height: 600px;
}
.main-stats h3{
    padding-top: 65px;
    padding-left: calc(50% - 235px);
    color: white;
    font-family: 'Numans', sans-serif;
    font-size: 36px;
}
.content-ico{
    margin-top: 105px;
    display: flex;
    justify-content: space-around;
}
.content-text{
    color: white;
    margin-top: 75px;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    font-family: 'Numans', sans-serif;
    font-size: 24px;
}
.playlist{
    margin-left: 125px;
}
/* main article */
.main-article h3{
    margin-top: 80px;
    margin-left: calc(50% - 165px);
    color: white;
    font-family: 'Numans', sans-serif;
    font-size: 36px;
}
.main-article-content{
    margin-left: 25%;
    margin-right: 25%;
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    max-width: 720px;
    min-height: 600px;
}
.main-article-content .text{
    margin-top: 105px;
}
.date{
    margin-top: 55px;
    float: right;
    color: #989898;
    font-family: 'Numans', sans-serif;
    font-size: 18px;
}
.select-top-article{
    position: relative;
    top: 56px;
    height: 90px;
    width: 90px;
    transform: rotate(90deg);
}
.select-bottom-article{
    position: relative;
    top: 365px;
    left: -40px;
    height: 90px;
    width: 90px;
    transform: rotate(-90deg);
}
/* main abonnement */
.main-abonnement{
    display: block;
    background-color: white;
    min-height: 480px;
    width: auto;
}
.main-abonnement h3{
    padding-top: 70px;
    margin-left: calc(50% - 250px);
    font-family: 'Numans', sans-serif;
    font-size: 36px;
}
.main-abonnement input{
    margin-top: 70px;
    margin-left: calc(50% - 300px);
    font-family: 'Numans', sans-serif;
    font-size: 24px;
    background-color: black;
    color: white;
    width: 600px;
    height: 60px;
}
.main-abonnement button{
    margin-top: 70px;
    margin-left: calc(50% - 100px);
    font-family: 'Numans', sans-serif;
    font-size: 24px;
    background-color: black;
    color: #989898;
    width: 200px;
    height: 60px;
}
/* ------------------------FOOTER------------------------- */
footer{
    font-family: 'Numans', sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    min-height: 600px;
}
footer h4{
    margin-top: 160px;
    margin-bottom: 70px;
    font-size: 24px;
}
footer p, a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
@media screen and (max-width: 800px){
    /* --------------NAV------------- */
    nav{
        display: block;
        height: 200px;
        background-color: black;
    }
    nav a{
        margin-left: calc(50% - 35px);
    }
    /* -------------MAIN------------- */
    /* main desc */
    .main-description{
        margin-left: 5%;
        margin-right: 5%;
    }
    .select-bottom{
        top: 335px;
    }
    /* main tech */
    .main-technologies{
        min-height: 800px;
    }
    /* main info */
    .main-info{
        margin-left: 5%;
        margin-right: 5%;
    }
    .select-bottom-info{
        top: 365px;
    }
    /* main stats */
    .main-stats h3{
        margin-left: 25%;
        margin-right: 15%;
    }
    .playlist{
        margin-left: calc(35% - 80px);
    }
    .code{
        margin-left: 7.5%;
        margin-right: 5%;
    }
    /* main article */
    .main-article-content{
        margin-left: 5%;
        margin-right: 5%;
    }
    .select-bottom-article{
        top: 415px;
    }
    /* main abonnement */
    .main-abonnement h3{
        margin-left: 15%;
    }
    .main-abonnement input{
        margin-left: 5%;
        width: 90%;
    }
    /* -------------FOOTER------------- */
    footer{
        padding-left: 5%;
        padding-right: 5%;
    }
    footer h4{
        font-size:18px;
    }
    footer p, a{
        font-size: 12px;
    }
}